body{
    margin: 0;
    font-family: Arial, san-serif;
}

/* contact */
.contact-section {
    padding: 60px 20px;
    background-color:rgb(255, 255, 255); 
    text-align: center;
}

.contact-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}

.contact-container h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 30px;
    text-align: left; 
}

.contact-form .form-group {
    margin-bottom: 20px;
}

.contact-form label {
    display: block;
    font-size: 1rem;
    color: #333;
    margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px 15px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px; 
    outline: none;
    transition: border-color 0.3s ease;
    
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #007bff;
}

.contact-form textarea {
    resize: none; 
}

.send-btn {
    display: inline-block;
    padding: 12px 25px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 8px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.send-btn:hover {
    background-color: #0056b3;
}
