/* global style */
body{
    margin: 0;
    font-family: Arial, san-serif;
}

/* navbar */
nav {
    background-color: #f0f0f0;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid #ddd;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #007bff;
}